#cbpw-wrap199 {margin:0px 0px 0px 0px;}
#cbpw-grid199 .cbp-l-caption-title {
    color:#FFFFFF;
    background-color:transparent;
    font-size:14px;
    font-family:Dosis;
    font-weight:600;
    font-style:normal;
    line-height:21px;
    text-align:center;
    padding:0px 0px 0px 0px;
    margin:10px 0px 0px 0px;
    text-transform:uppercase;
    }
    #cbpw-grid199 .cbp-l-caption-desc 
    {color:#aaa;
    background-color:transparent;
    font-size:11px;
    font-family:Open Sans;
    font-weight:400;
    font-style:normal;
    line-height:16px;
    text-align:center;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    text-transform:none;
    }
    #cbpw-grid199 .cbp-caption-activeWrap 
    {
    background-color:#2b2929;
    }
    #cbpw-loadMore199 .cbp-l-loadMore-link 
    {color:#7E7B7B;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#DEDEDE;
    font-size:12px;
    font-family:Open Sans,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:34px;
    text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;
    }
    #cbpw-loadMore199 .cbp-l-loadMore-link:hover 
    {color:#B0B0B0;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#DEDEDE;
    font-size:12px;
    font-family:Open Sans,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:34px;
    text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;
    }
    #cbpw-loadMore199 .cbp-l-loadMore-loading 
    {color:#B0B0B0;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#DEDEDE;
    font-size:12px;
    font-family:Open Sans,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:34px;
    text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;}
    #cbpw-loadMore199 .cbp-l-loadMore-loading:hover 
    {color:#B0B0B0;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;border-color:#DEDEDE;
    font-size:12px;
    font-family:Open Sans,sans-serif;
    font-weight:400;font-style:normal;
    line-height:34px;text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;}
    #cbpw-loadMore199 .cbp-l-loadMore-stop 
    {color:#B0B0B0;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#DEDEDE;
    font-size:12px;
    font-family:Open Sans,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:34px;
    text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;}
    #cbpw-loadMore199 .cbp-l-loadMore-stop:hover 
    {color:#B0B0B0;
    background-color:transparent;
    border-width:1px 1px 1px 1px;
    border-style:solid;border-color:#DEDEDE;
    font-size:12px;font-family:Open Sans,sans-serif;
    font-weight:400;font-style:normal;
    line-height:34px;text-align:center;
    padding:0px 30px 0px 30px;
    margin:40px 0px 0px 0px;
    text-transform:none;}
    #cbpw-singlePage199 .cbp-popup-navigation-wrap 
    {background-color:#34425C;}
    #cbpw-singlePage199 .cbp-popup-singlePage-counter 
    {color:#bbc0df;
    font-size:13px;
    font-family:Open Sans;
    font-weight:400;
    font-style:normal;}